.DS_Store
.bundle
vendor/ruby
.idea
.rake_tasks
.rvmrc
.powenv
REVISION
vendor/bundle
.rake_tasks~
pkg
mkmf.log

# Local config files
database.yml
schema.rb

# Logs
log
log/*.log
log/*.pid

# Tempfiles
tmp/**/*
tmp/
coverage
capybara*

# test app
spec/rails_app/db/migrate/**.cmsimple.rb
spec/rails_app/public/uploads/

Gemfile.lock
