%li(data-filter="example, snippet, name")
  %img(alt="Example Snippet" data-snippet="example" src="/assets/mercury/default-snippet.png")
  %h4>Snippet Name
  .description A one or two line long description of what this snippet does.</div>
