<li data-filter="example, snippet, name">
  <img alt="Example Snippet" data-snippet="example" src="/assets/toolbar/snippets.png" />
  <h4>Snippet Name</h4>
  <div class="description">A one or two line long description of what this snippet does.</div>
</li>
<li data-filter="image_example, snippet, name">
  <img (alt="Image Example Snippet" data-snippet="image_example" src="/assets/toolbar/snippets.png" />
  <h4>Image Example</h4>
  <div class="description">A one or two line long description of what this snippet does.</div>
</li>
