/* Button example */
.mercury-primary-toolbar .mercury-inspector-button em {
  background-image: url(/assets/mercury/toolbar/primary/inspectorpanel.png);
}

.mercury-sitemap-button em {
  background-image: url(/assets/toolbar/sitemap.png);
}

.mercury-publish-button em {
  background-image: url(/assets/toolbar/publish.png);
}

.mercury-publish-button.unpublished em {
  background-image: url(/assets/toolbar/unpublished.png);
}

.mercury-redirects-button em {
  background-image: url(/assets/toolbar/redirect.png);
}

.mercury-primary-toolbar .mercury-editMetadata-button em,
.mercury-expander-button[data-button="inspector"] em {
  background-image: url(/assets/toolbar/metadata.png);
}

