%section#editable1.mercury-region(data-type='editable')
  =region @page.regions.editable1

%section#markupable1.mercury-region(data-type='markupable')
  =region @page.regions.markupable1

%section#snippetable1.mercury-region(data-type='snippetable')
  =region @page.regions.snippetable1

