%h2 Editable
%section#editable1.mercury-region(data-type='editable')
  =region @page.regions.editable1

%h2 Snippetable
%section#snippetable1.mercury-region(data-type='snippetable')
  =region @page.regions.snippetable1

%h2 Markupable
%section#markupable1.mercury-region(data-type='markupable')
  =region @page.regions.markupable1

