.mercury-display-pane(style='width: 500px')
  = form_for @snippet, :url => '#', html: { class: 'form-horizontal'} do |f|
    %fieldset
      %legend <%= class_name %> Snippet
      <%- @fields.each do |field| -%>
        .control-group
          = f.label :<%= field %>, class: 'control-label'
          .controls
            = f.text_field :<%= field %>
      <%- end -%>
    .form-actions.mercury-display-controls
      = f.submit class: 'btn btn-primary'
