<div class="mercury-display-pane" style='width: 500px'>
  <%%= form_for @snippet, :url => '#', html: { class: 'form-horizontal' } do |f| %>
    <fieldset>
      <legend><%= class_name %> Snippet</legend>
      <%- @fields.each do |field| -%>
        <div class="control-group">
          <%%= f.label :<%= field %>, class: 'control-label' %>
          <div class="controls">
            <%%= f.input :<%= field %> %>
          </div>
        </div>
      <%- end -%>
    </fieldset>
    <div class="form-actions mercury-display-controls">
      <%%= f.submit class: 'btn btn-primary' %>
    </div>
  <%% end %>
</div>
