
/* Dialogs */
.mercury-panel {
  background-color: #f5f5f5;
  color: #333;
}

.mercury-panel h1 {
  color: #f5f5f5;
  border-bottom: 1px solid #222;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

/*
 * Sitemap Panel
 *----------------------------------------------------------------------------*/
.mercury-panel .panel-actions {
  background-color: #eaeaea;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1em;
  overflow: hidden;
}
.mercury-panel .panel-actions .btn {
  float: right;
}

.mercury-panel ul.sitemap {
  width: 400px;
  padding: 0;
}
.mercury-panel ul.sitemap li {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 2.5em;
  background: url(/assets/tree-line-horizontal.png) no-repeat left 12px;
}
.mercury-panel ul.sitemap li:last-child {
  background-image: url(/assets/tree-line-horizontal-last.png);
}
.mercury-panel ul.sitemap,
.mercury-panel ul.sitemap ul {
  background: url(/assets/tree-line-vertical.png) repeat-y;
}

.mercury-panel ul.sitemap > li article {
  background-color: #666;
  color: #fff;
  padding: 0.25em 0.5em;
  margin-bottom: 2px;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  cursor: default;
  border: 1px solid transparent;
}
/* Nested coloring of pages */
.mercury-panel ul.sitemap > li ul li article {
  opacity: 0.8;
}
.mercury-panel ul.sitemap > li ul li article + ul article {
  opacity: 0.6;
}
.mercury-panel ul.sitemap > li ul li article + ul article + ul article {
  opacity: 0.4;
}
.mercury-panel ul.sitemap > li article:hover {
  background-color: #444;
  border-color: #268bd2;
}

.mercury-panel ul.sitemap > li article span {
}
.mercury-panel ul.sitemap > li article .path {
  color: #ccc;
  margin-left: 0.5em;
}
/* Increase the gap for top level pages */
.mercury-panel ul.sitemap > li {
  margin-bottom: 8px;
}

.mercury-panel ul.child {
  padding: 0;
  *zoom: 1;
}
.mercury-panel ul.child:before,
.mercury-panel ul.child:after {
  content: "";
  display: table;
}
.mercury-panel ul.child:after {
  clear: both;
}

