
/* Dialogs */
.mercury-panel, .mercury-framed-panel {
  background-color: #f5f5f5;
  color: #333;
}

.mercury-panel h1, .mercury-framed-panel h1 {
  color: #f5f5f5;
  border-bottom: 1px solid #222;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.mercury-framed-panel {
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 9.5pt;
}

.mercury-framed-panel.embedded {
  background-color: #eaeaea;
}
.mercury-framed-panel.embedded fieldset {
  background: none;
  border: none;
}
.mercury-framed-panel.embedded h2 {
  border-bottom: 1px solid #ccc;
}
.mercury-framed-panel.embedded .btn {
  float: right;
}

/*
 * Override Panel Settings
 *----------------------------------------------------------------------------*/
.mercury-panel .panel-actions {
  background-color: #eaeaea;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1em;
  overflow: hidden;
}
.mercury-panel .panel-actions .btn {
  float: right;
}

/*
 * Image Panel
 *----------------------------------------------------------------------------*/
.mercury-panel .add-image-action {
  /* margin-top: 50px; */
  display: none;
}

.mercury-panel .add-image-action iframe {
  width: 100%;
  height: 192px;
}

.mercury-panel .add-image-action.active {
  display: block;
}
.mercury-panel .add-image-action ol {
  list-style: none;
}

.mercury-panel .add-image-action li {
  margin: 0;
  padding: 0;
}

.mercury-panel .add-image-action label {
  font-size: 11px;
  display: block;
  float: none;
  width: auto;
  margin-right: 0;
  text-align: left;
  line-height: normal;
  overflow: visible;
  margin-top: 20px;
}
.mercury-panel .add-image-action textarea {
  font-size: 1em;
  width: 100%;
}

.image-filter input.filter {
  outline: none;
  font-size: 1em;
  border-radius: 30px;
  moz-border-radius: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-image: url(/assets/mercury/search-icon.png);
  background-position: 4px center;
  margin: 1em 0
}

.mercury-panel ul.media-grid {
  width: 400px;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.mercury-panel .media-grid > li {
  float: left;
  margin-bottom: 16px;
}
.mercury-panel .media-grid > li:nth-child(odd) {
  margin-right: 16px;
}

.mercury-panel .media-item {
  position: relative;
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ccc;
  cursor: default;
  max-width: 182px;
}

.mercury-panel .media-item:hover {
  border-color: #268bd2;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.mercury-panel .media-item > .media-info {
  position: absolute;
  background-color: rgba(255,255,255,0.9);
  z-index: 2;
  width: 182px;
  height: 182px;
  overflow: hidden;
  display: none;
}
.mercury-panel .media-item > .media-info .close {
  position: absolute;
  top: 0;
  right: 2px;
  text-decoration: none;
  color: #000;
}

.mercury-panel .media-item > .media-info.active {
  display: block;
}

.mercury-panel .media-item > .media-info dl {
  margin: 0;
  padding: 0.5em 1em;
}
.mercury-panel .media-item > .media-info dt {
  font-size: .75em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1em 0 0.25em;
  padding: 0;
}
.mercury-panel .media-item > .media-info dd {
  margin: 0;
  padding: 0;
}

.mercury-panel .media-item > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mercury-panel .media-caption {
  max-width: 182px;
  margin: 0 5px;
  font-size: 12px;
  line-height: 0.25;
}
.mercury-panel .media-caption a {
  color: #268bd2;
  text-decoration: none;
}
.mercury-panel .media-caption a:hover {
  color: #16527C;
  text-decoration: underline;
}

/*
 * Sitemap Panel
 *----------------------------------------------------------------------------*/
.mercury-panel ul.sitemap {
  width: 400px;
  padding: 0;
}
.mercury-panel ul.sitemap li {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 2.5em;
  background: url(/assets/tree-line-horizontal.png) no-repeat left 12px;
}
.mercury-panel ul.sitemap li:last-child {
  background-image: url(/assets/tree-line-horizontal-last.png);
}
.mercury-panel ul.sitemap,
.mercury-panel ul.sitemap ul {
  background: url(/assets/tree-line-vertical.png) repeat-y;
}

.mercury-panel ul.sitemap > li article {
  background-color: #666;
  color: #fff;
  padding: 0.25em 0.5em;
  margin-bottom: 2px;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  cursor: default;
  border: 1px solid transparent;
}
/* Nested coloring of pages */
.mercury-panel ul.sitemap > li ul li article {
  opacity: 0.8;
}
.mercury-panel ul.sitemap > li ul li article + ul article {
  opacity: 0.6;
}
.mercury-panel ul.sitemap > li ul li article + ul article + ul article {
  opacity: 0.4;
}
.mercury-panel ul.sitemap > li article:hover {
  background-color: #444;
  border-color: #268bd2;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.mercury-panel ul.sitemap > li article span {
}
.mercury-panel ul.sitemap > li article .path {
  color: #ccc;
  margin-left: 0.5em;
}
/* Increase the gap for top level pages */
.mercury-panel ul.sitemap > li {
  margin-bottom: 8px;
}

.mercury-panel ul.sitemap ul {
  padding: 0;
  *zoom: 1;
}
.mercury-panel ul.sitemap ul:before,
.mercury-panel ul.sitemap ul:after {
  content: "";
  display: table;
}
.mercury-panel ul.sitemap ul:after {
  clear: both;
}

/* Redirects panel */
.mercury-panel ul.redirects {
  width: 400px;
  padding: 0;
}

.mercury-panel ul.redirects li {
  position: relative;
  list-style: none;
}

.mercury-panel ul.redirects > li article {
  background-color: #666;
  color: #fff;
  padding: 0 0.5em;
  margin-bottom: 2px;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 1px solid transparent;
  cursor: default;
}

.mercury-panel ul.redirects > li article:hover {
  background-color: #444;
  border-color: #268bd2;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.mercury-panel ul.redirects > li article .path {
  font-weight: bold;
}

.mercury-panel ul.redirects > li article .destination {
  margin-left: 0.25em;
}

.mercury-panel ul.redirects > li article .remove {
  position: absolute;
  top: 0;
  right: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Versions panel */
.mercury-panel ul.versions {
  width: 400px;
  padding: 0;
}

.mercury-panel ul.versions li {
  position: relative;
  list-style: none;
}

.mercury-panel ul.versions > li article {
  background-color: #666;
  color: #fff;
  padding: 0 0.5em;
  margin-bottom: 2px;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 1px solid transparent;
  cursor: default;
}
.mercury-panel ul.versions > li article .view,
.mercury-panel ul.versions > li article .revert {
  position: absolute;
  top: 5px;
  right: 5px;
}
.mercury-panel ul.versions > li article .revert {
  display: none;
}
