/*!
 * Mercury Editor is a Coffeescript and jQuery based WYSIWYG editor.  Documentation and other useful information can be
 * found at https://github.com/jejacks0n/mercury
 *
 * This file is intended to provide a standard way to override the CSS that comes default with Mercury Editor, and
 * includes an example button style, should you ever need to add new ones yourself.  Read the toolbar configuration in
 * mercury.js for more on how to add your own buttons to the toolbar.
 */


/*
 *= require_self
 *= require mercury/dialog-override
 *= require mercury/modal-override
 *= require mercury/all_images-override
 */

/* Disable text sizing in webkit (ipad/iphone etc -- should apply to mercury only) */
html { -webkit-text-size-adjust: none; }

/*
 * Buttons TODO: Refactor to a more generic button
 *----------------------------------------------------------------------------*/
.mercury-panel .mercury-panel-pane button.add {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  display: block;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: bold;
  background: #268bd2;
  border: 1px solid #16527c;
  color: white;
  cursor: pointer;
  line-height: 1.1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 0.4em 0.7em;
}
.mercury-panel .mercury-panel-pane button.add:visited {
  color: white;
}
.mercury-panel .mercury-panel-pane button.add:hover,
.mercury-panel .mercury-panel-pane button.add:focus,
.mercury-panel .mercury-panel-pane button.add.active {
  background: #2482c5;
}
.mercury-panel .mercury-panel-pane button.add:hover,
.mercury-panel .mercury-panel-pane button.add.active {
  border: 1px solid #0f3550;
}
.mercury-panel .mercury-panel-pane button.add:hover {
  -webkit-box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.7);
}
.mercury-panel .mercury-panel-pane button.add:focus {
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 1px 4px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 1px 4px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 1px 4px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(82, 168, 236, 0.8);
  outline: 0;
}
.mercury-panel .mercury-panel-pane button.add:active,
.mercury-panel .mercury-panel-pane button.add.active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
}

