.item
  %img(src="#{ @image_1.presence || 'http://placehold.it/60x80/'}" data-snippet-image='image_1' data-image-geometry='<100x<100' style='float: left; padding-right: 5px;')
  %h3= @title
  %p= @summary
