<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta/>
    <%= csrf_meta_tags %>
    <title>Mercury Editor</title>
    <%= stylesheet_link_tag    *Cmsimple.configuration.editor_stylesheets %>
    <%= javascript_include_tag *Cmsimple.configuration.editor_javascripts %>
  </head>
  <body>
    <script>
      new CMSimple.Editor( new CMSimple.Page(<%= current_page.to_json.html_safe %>) )
    </script>
  </body>
</html>
