!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0")
    = csrf_meta_tags
    %title Mercury Editor
    = stylesheet_link_tag    *Cmsimple.configuration.editor_stylesheets
    = javascript_include_tag *Cmsimple.configuration.editor_javascripts
  %body
    :javascript
      new CMSimple.Editor( new CMSimple.Page(#{current_page.to_json}) )

