!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0")
    = csrf_meta_tags
    %title Mercury Editor Panel
    = stylesheet_link_tag  *Cmsimple.configuration.editor_stylesheets
  %body
    = yield
